<div class="search-form mt-4">
  <form method="">
    <div class="form-group">
      <label for="search-input">Từ khoá</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        name="q"
        aria-describedby="emailHelp"
        placeholder="Nhập từ khoá"
      />
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>